body {
    background-image: linear-gradient(to bottom,
        var(--accent-0),
        var(--accent-1)
    );
    background-attachment: fixed;
    background-size: cover;
    font-family: "gg sans", system-ui;
    color: white;
    padding: 50px;

    &:has(#toolbar) {
        padding-top: 75px;
    }
    &:has(#navbar) {
        padding-bottom: 75px;
    }
    &:has(#sidebar) {
        padding-left: 250px;
    }

    & a {
        color: white;
        text-decoration: none;
    }
    & h1,
    & h2,
    & h3 {
        font-weight: normal;
    }
}

#menubar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to bottom,
        var(--accent-1),
        var(--accent-2)
    );
    padding: 0 50px;
    display: flex;
    align-content: center;
	& > div, & > button {
		border-right: solid 1px #FFF2;
	}
    & > #search-bar {
        & > input {
            box-sizing: border-box;
            height: 100%;
			width: 250px;
			border-radius: 0;
			border: none;
			outline: 0;
			background-color: #fbfbb3;
			font-family: "gg mono", "gg sans";
			word-wrap: break-word;
			padding: 15px;
			font-size: 16px;
        }
        & > #autocomplete {
            position: absolute;
            top: 100%;
        }
    }
	& > #submit {
		background-image: linear-gradient(to bottom,
			var(--accent-2),
			var(--accent-3)
		);
		&:hover {
			background-image: linear-gradient(to bottom,
				var(--accent-4),
				var(--accent-3)
			);
		}
	}
	& > a > div.action,
	& > div.action,
	& > button.action {
		height: 100%;
		padding: 0 10px;
		font-size: 16px;
		border: none;
		outline: none;
		color: white;
		background-color: transparent;
		font-family: inherit;
		align-content: center;
		& > img {
			vertical-align: middle;
			margin-right: 3px;
			transform: translateY(-2px);
		}
	}
    & > div.dropdown {
        height: 100%;
        width: fit-content;
        & > button.dropdown-button {
            height: 100%;
            padding: 0 10px;
            font-size: 16px;
            border: none;
            outline: none;
            color: white;
            background-color: transparent;
            font-family: inherit;
			align-content: center;
            & > img {
                vertical-align: middle;
                margin-right: 3px;
                transform: translateY(-2px);
            }
        }
        &:hover button.dropdown-button {
            background-color: #FFF2;
        }
        & > div.dropdown-content {
            display: none;
            position: absolute;
            width: fit-content;
            & > * {
                display: inherit;
                box-sizing: border-box;
                width: 100%;
                font-size: small;
                outline: 0;
                border: none;
                color: white;
                background-image: linear-gradient(
                    var(--accent-2),
                    var(--accent-2) 45%,
                    var(--accent-1) 117%
                );
                padding: 10px;
            }
        }
        &:hover > div.dropdown-content {
            display: block;
        }
    }
}
#navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to bottom,
        var(--accent-2),
        var(--accent-1)
    );
}
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-image: linear-gradient(to bottom,
        var(--accent-1) -25%,
        var(--accent-2) 10%,
        var(--accent-2) 90%,
        var(--accent-1) 125%
    );
    body:has(> #menubar) > & {
        top: 50px;
        height: calc(100% - 50px);
    }
    body:has(> #navbar) > & {
        height: calc(100% - 50px);
    }
    body:has(> #menubar):has(> #navbar) & {
        top: 50px;
        height: calc(100% - 100px);
    }
}

div.warning-message {
    width: fit-content;
    margin-bottom: 10px;
    padding: 0 20px;
    border: solid 2px #e9263d;
    background-image: linear-gradient(to bottom,
        #610812,
        #8f0c1c
    );
}

div.button,
button.button {
    padding: 10px;
    cursor: pointer;
    border: solid 2px var(--accent-3);
    background-image: linear-gradient(to bottom,
            var(--accent-4),
            var(--accent-3)
    );
    &:hover, a:hover & {
        border: solid 2px var(--accent-4);
        background-image: linear-gradient(to bottom,
            var(--accent-5),
            var(--accent-4)
        );
    }
    &:active, a:active & {
        border: solid 2px var(--accent-2);
        background-image: linear-gradient(to bottom,
            var(--accent-2),
            var(--accent-3)
        );
    }

    &.generic-button {
        width: fit-content;
        margin-bottom: 10px;
    }
}

body.index {
    --accent-0: hsl(353, 100%, 4%);
    --accent-1: hsl(353, 92%, 10%);
    --accent-2: hsl(353, 85%, 21%);
    --accent-3: hsl(353, 85%, 30%);
    --accent-4: hsl(353, 80%, 41%);
    --accent-5: hsl(353, 82%, 53%);
    --accent-6: hsl(353, 85%, 61%);
    --accent-7: hsl(353, 83%, 71%);
    --accent-8: hsl(353, 83%, 80%);

    background-image: linear-gradient(to bottom,
        var(--accent-0),
        var(--accent-1)
    );

    & div.chipbooru-logo {
        font-size: xx-large;
    }

    & div.landing-buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 10px;
        & > a > div {
            display: flex;
            width: 150px;
            height: 100px;
            justify-content: center;
            align-content: center;
            border: solid 2px #FFF1;
            background-size: cover;
            background-origin: border-box;
            cursor: pointer;
            background-image: linear-gradient(to bottom,
                var(--accent-2),
                var(--accent-3)
            );
            &:hover {
                border: solid 3px #FFF2;
                margin: -1px;
            }
            &:active {
                border-color: #FFF8;
            }
            & > img {
                margin: auto;
                max-width: 90%;
                max-height: 90%;
            }
        }

        &.drive > a > div > div {
            width: fit-content;
            display: flex;
            align-items: center;
            & > img {
                margin-right: 5px;
                width: 24px;
                height: 24px;
                & + span {
                    height: fit-content;
                }
            }
        }

        & > a[title="rule34.xxx"] > div {
            background-image: linear-gradient(to bottom,
                hsl(115, 32%, 8%),
                hsl(115, 29%, 11%)
            );
        }
        & > a[title="kurosearch.com"] > div {
            background-image: linear-gradient(to bottom,
                hsl(348, 66%, 8%),
                hsl(348, 71%, 11%)
            );
        }
        & > a[title="r34.app"] > div {
			--kill: yourself;
        }
    }
}
