:root {
    --accent-0: hsl(140, 100%, 4%);
    --accent-1: hsl(140, 92%, 10%);
    --accent-2: hsl(140, 85%, 21%);
    --accent-3: hsl(140, 85%, 30%);
    --accent-4: hsl(140, 80%, 41%);
    --accent-5: hsl(140, 82%, 53%);
    --accent-6: hsl(140, 85%, 61%);
    --accent-7: hsl(140, 83%, 71%);
    --accent-8: hsl(140, 83%, 80%);
}
