@import "../style/color.less";
@import "../style/body.less";
@import "../style/button.less";
@import "../style/title.less";
@import "../style/menubar.less";
@import "../style/search.less";
@import "../style/console.less";

#results {
	margin: 50px 5% 0;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	gap: 8px;
	div.result {
		display: flex;
		justify-content: center;
		aspect-ratio: 1 / 1;

		background-image: linear-gradient(to bottom, @accent-dark-5, @accent-dark-4);
		border: solid 1px #FFF1;
		border-radius: 8px;

		z-index: 0;

		img {
			object-fit: contain;
			width: 100%;
			height: 100%;
		}

		transition: all 100ms cubic-bezier(0.390, 0.575, 0.565, 1.000);

		&[data-type="video"] {
			background-image: linear-gradient(to bottom, #190555, #270786);
			border: solid 2px #4c17ef;
		}

		&[data-type="gif"] {
			background-image: linear-gradient(to bottom, #053157, #074188);
			border: solid 2px #5bb8fb;
		}

		&:hover {
			background-image: linear-gradient(to bottom, @accent-dark-5, @accent-dark-4);
			border: solid 1px #FFF1;
			transform: scale(1.25);
			filter: drop-shadow(0 10px 30px #0008);
			z-index: 1;
		}

		&:active {
			border: solid 1px #FFF3;
			transform: scale(1.1) rotate(2deg);
			filter: drop-shadow(0 10px 30px #fff3);
			z-index: 1;
		}
	}
}

#flipper {
	width: 100%;
	position: fixed;
	bottom: 20px;
	left: 0;

	padding: 20px;

	display: flex;
	flex-direction: row;
	justify-content: center;

	z-index: 2;

	> div {
		display: grid;
		grid-template-areas: "left info right";
		grid-gap: 8px;

		div.left, div.right {
			display: flex;
			flex-direction: column;
			justify-content: center;
			> div {
				line-height: 1em;
				padding: 2px 6px;
			}
		}
		div.left { grid-area: left; }
		div.right { grid-area: right; }

		div.info {
			grid-area: info;
			display: grid;
			grid-template-areas: "posts" "pages";
			div.posts, div.pages {
				display: flex;
				flex-direction: row;
				justify-content: center;
			}
			div.posts {
				grid-area: posts;
			}
			div.pages {
				grid-area: pages;
				span {
					color: #FFFA;
					font-size: 12px;
				}
			}
		}
	}
}
