@import "../style/color.less";
@import "../style/body.less";
@import "../style/button.less";
@import "../style/color.less";
@import "../style/title.less";
@import "../style/menubar.less";
@import "../style/search.less";
@import "../style/console.less";

body {
	padding: 75px 50px 100px;
}

#flipper {
	width: 100%;
	margin-bottom: 12px;

	display: flex;
	flex-direction: row;
	justify-content: center;

	z-index: 2;

	> div {
		display: grid;
		grid-template-areas: "left info right";
		grid-gap: 8px;

		div.left, div.right {
			display: flex;
			flex-direction: column;
			justify-content: center;
			> div {
				line-height: 1em;
				padding: 2px 6px;
			}
		}
		div.left { grid-area: left; }
		div.right { grid-area: right; }

		div.info {
			grid-area: info;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}
}

#post {
	width: 100%;
	margin-top: 50px;
	display: grid;
	grid-template-areas:
		"info media"
		"tags media"
		"tags comments";
	grid-auto-columns: minmax(min-content, 1fr) 3fr;
	grid-gap: 8px;
	
	div.card {
		box-sizing: border-box;
		border: solid 2px @accent-dark-3;
		background-image: linear-gradient(to bottom, @accent-dark-3, @accent-dark-2);
		border-radius: 8px;
	}

	> div.media {
		grid-area: media;
		width: 100%;
		display: grid;
		grid-auto-flow: row;
		grid-gap: 4px;
		div.content {
			background-image: linear-gradient(to bottom, @accent-dark-5, @accent-dark-4);
			width: 100%;
			height: fit-content;
			display: flex;
			justify-content: center;
			border-radius: 8px;
			overflow: hidden;
			img, video {
				max-height: 60vh;
				max-width: 100%;
			}
		}
		div.progress {
			height: 3px;
			background-color: @accent-dark-2;
			div {
				height: 100%;
				background-color: @accent-light-2;
			}
		}
		div.controls {
			display: none;
			flex-direction: row;
			gap: 4px;
			line-height: 1em;
			div.play-pause {
				aspect-ratio: 1 / 1;
				&[data-state="paused"] {
					[data-lucide="play"] { display: block; }
					[data-lucide="pause"] { display: none; }
				}
				&[data-state="playing"] {
					[data-lucide="play"] { display: none; }
					[data-lucide="pause"] { display: block; }
				}
			}
			div.audio {
				aspect-ratio: 1 / 1;
				&[data-state="muted"] {
					[data-lucide="volume-off"] { display: block; }
					[data-lucide="volume-2"] { display: none; }
				}
				&[data-state="unmute"] {
					[data-lucide="volume-off"] { display: none; }
					[data-lucide="volume-2"] { display: block; }
				}
			}
			div.time {
				padding: 0 8px;

				flex: 1;
				display: grid;
				grid-auto-flow: column;

				background-image: linear-gradient(to bottom, @accent-dark-1, @accent-dark-2 10%, @accent-dark-1);
				background-size: cover;
				box-sizing: border-box;
				border: 2px solid @accent-dark-2;
				border-radius: 8px;

				user-select: none;

				div.left, div.right {
					display: flex;
					flex-direction: row;
					align-items: center;
				}
				div.left { justify-content: flex-start; }
				div.right { justify-content: flex-end; }
			}
			div.backward, div.forward {
				display: flex;
				flex-direction: row;
			}
			div.button {
				padding: 0 4px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
		&[data-type="video"] div.controls {
			display: flex;
		}
	}
	> div.info {
		grid-area: info;
		border-radius: 8px;
	}
	> div.tags {
		grid-area: tags;
		> div {
			width: 100%;
			padding: 16px;
			font-size: 0;
			
			display: grid;
			grid-auto-flow: row;
			grid-gap: 16px;
			
			> div a div {
				width: fit-content;
				margin: 2px;
				padding: 2px 5px;
				display: inline-flex;
				
				border-style: solid;
				border-width: 2px;
				border-radius: 4px;
				
				cursor: pointer;
				
				span {
					font-size: 16px;
				}
			}
			> div.copyright a div {
				@hue: 300;
				@bright: hsl(300, 75%, 70%);
				@dark: hsl(300, 75%, 45%);
				
				border-color: @dark;
				background-image: linear-gradient(to bottom, @bright, @dark 10%, @bright);
				color: hsl(@hue, 100%, 10%);
				text-shadow: 0 2px 0 #fff4;
			}
			> div.character a div {
				@hue: 120;
				@bright: hsl(120, 100%, 55%);
				@dark: hsl(120, 100%, 35%);
				
				border-color: @dark;
				background-image: linear-gradient(to bottom, @bright, @dark 10%, @bright);
				color: hsl(@hue, 100%, 10%);
				text-shadow: 0 2px 0 #fff6;
			}
			> div.artist a div {
				@hue: 0;
				@bright: hsl(0, 100%, 73%);
				@dark: hsl(0, 100%, 50%);
				
				border-color: @dark;
				background-image: linear-gradient(to bottom, @bright, @dark 10%, @bright);
				color: hsl(@hue, 100%, 10%);
				text-shadow: 0 2px 0 #fff2;
			}
			> div.general a div {
				@hue: 240;
				@bright: hsl(240, 100%, 73%);
				@dark: hsl(240, 100%, 63%);
				
				border-color: @dark;
				background-image: linear-gradient(to bottom, @bright, @dark 10%, @bright);
				color: hsl(@hue, 100%, 10%);
				text-shadow: 0 2px 0 #fff3;
			}
			> div.meta a div {
				@hue: 32;
				@bright: hsl(32, 100%, 70%);
				@dark: hsl(32, 100%, 50%);
				
				border-color: @dark;
				background-image: linear-gradient(to bottom, @bright, @dark 10%, @bright);
				color: hsl(@hue, 100%, 10%);
				text-shadow: 0 2px 0 #fff4;
			}
			> div.null a div {
				@bright: hsl(0, 0%, 70%);
				@dark: hsl(0, 0%, 60%);
				
				border-color: @dark;
				background-image: linear-gradient(to bottom, @bright, @dark 10%, @bright);
				color: hsl(0, 0%, 10%);
				text-shadow: 0 2px 0 #fff2;
			}
		}
	}
	> div.comments {
		grid-area: comments;
	}
}
