@import "../style/color.less";
@import "../style/body.less";
@import "../style/button.less";
@import "../style/color.less";
@import "../style/title.less";
@import "../style/menubar.less";
@import "../style/search.less";
@import "../style/console.less";

body {
	padding: 75px 50px 100px;
}

#flipper {
	width: 100%;
	margin-bottom: 12px;

	display: flex;
	flex-direction: row;
	justify-content: center;

	> div {
		display: grid;
		grid-template-areas: "left info right";
		grid-gap: 8px;

		div.left, div.right {
			display: flex;
			flex-direction: column;
			justify-content: center;
			> div {
				line-height: 1em;
				padding: 2px 6px;
			}
		}
		div.left { grid-area: left; }
		div.right { grid-area: right; }

		div.info {
			grid-area: info;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}
}

#post {
	width: 100%;
	margin-top: 50px;
	display: grid;
	grid-template-areas:
		"info media"
		"tags media"
		"tags comments";
	grid-auto-columns: minmax(min-content, 1fr) 3fr;
	grid-gap: 8px;
	
	div.card {
		box-sizing: border-box;
		border: solid 2px @accent-dark-3;
		background-image: linear-gradient(to bottom, @accent-dark-3, @accent-dark-2);
		border-radius: 8px;
	}

	> div.media {
		grid-area: media;
		width: 100%;
		display: grid;
		grid-auto-flow: row;
		grid-gap: 4px;
		div.content {
			background-image: linear-gradient(to bottom, @accent-dark-5, @accent-dark-4);
			width: 100%;
			height: fit-content;
			display: flex;
			justify-content: center;
			border-radius: 8px;
			overflow: hidden;
			max-height: 60vh;
			img, video {
				max-height: 100%;
				max-width: 100%;
			}
		}
		div.progress {
            display: none;
			height: 3px;
			border-radius: 1.5px;
			background-color: @accent-dark-2;
			margin: 0 8px;
			div {
				height: 100%;
				border-radius: 1.5px;
				background-color: @accent-light-2;
			}
		}
		div.controls {
			display: none;
			flex-direction: row;
			gap: 4px;
			line-height: 1em;
			div.play-pause {
				aspect-ratio: 1 / 1;
				&[data-state="paused"] {
					[data-lucide="play"] { display: block; }
					[data-lucide="pause"] { display: none; }
				}
				&[data-state="playing"] {
					[data-lucide="play"] { display: none; }
					[data-lucide="pause"] { display: block; }
				}
			}
			div.audio {
				aspect-ratio: 1 / 1;
				&[data-state="muted"] {
					[data-lucide="volume-off"] { display: block; }
					[data-lucide="volume-2"] { display: none; }
				}
				&[data-state="unmute"] {
					[data-lucide="volume-off"] { display: none; }
					[data-lucide="volume-2"] { display: block; }
				}
			}
			div.time {
				padding: 0 8px;

				flex: 1;
				display: grid;
				grid-auto-flow: column;

				background-image: linear-gradient(to bottom, @accent-dark-1, @accent-dark-2 10%, @accent-dark-1);
				background-size: cover;
				box-sizing: border-box;
				border: 2px solid @accent-dark-2;
				border-radius: 8px;

				user-select: none;

				div.left, div.right {
					display: flex;
					flex-direction: row;
					align-items: center;
				}
				div.left { justify-content: flex-start; }
				div.right { justify-content: flex-end; }
			}
			div.backward, div.forward {
				display: flex;
				flex-direction: row;
			}
			div.button {
				padding: 0 4px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
		&[data-type="video"] {
            div.controls { display: flex; }
            div.progress { display: block; }
        }
	}
	> div.info {
		grid-area: info;
		border-radius: 8px;
		padding: 16px;
		display: grid;
		grid-auto-flow: row;
		grid-gap: 8px;
		
		dl {
			margin: 0;
			dt {
				font-weight: bold;
				display: inline;
				&::after {
					content: ": ";
				}
			}
			
			dd {
				font-weight: normal;
				margin: 0;
				display: inline;
				&::after {
					content: "\A";
					white-space: pre;
				}
			}
		}
	}
	> div.tags {
		grid-area: tags;
		> div {
			width: 100%;
			padding: 8px;
			font-size: 0;
			
			display: grid;
			grid-auto-flow: row;
			
			> div {
				max-height: 15vh;
				overflow-y: auto;
				scrollbar-width: thin;
				padding: 4px;
			 
                /** BULBOUS **/ // [
                a div {
                    width: fit-content;
                    margin: 2px;
                    padding: 2px 5px;
                    display: inline-flex;
                    
                    border-style: solid;
                    border-width: 2px;
                    border-radius: 4px;
                    
                    cursor: pointer;
                    
                    span {
                        font-size: 16px;
                    }
                }
                &.copyright a div {
                    @hue: 300;
                    @bright: hsl(300, 75%, 70%);
                    @dark: hsl(300, 75%, 45%);
                    
                    border-color: @dark;
                    background-image: linear-gradient(to bottom, @bright, @dark 10%, @bright);
                    color: hsl(@hue, 100%, 10%);
                    text-shadow: 0 2px 0 #fff4;
                }
                &.character a div {
                    @hue: 120;
                    @bright: hsl(120, 100%, 55%);
                    @dark: hsl(120, 100%, 35%);
                    
                    border-color: @dark;
                    background-image: linear-gradient(to bottom, @bright, @dark 10%, @bright);
                    color: hsl(@hue, 100%, 10%);
                    text-shadow: 0 2px 0 #fff6;
                }
                &.artist a div {
                    @hue: 0;
                    @bright: hsl(0, 100%, 73%);
                    @dark: hsl(0, 100%, 50%);
                    
                    border-color: @dark;
                    background-image: linear-gradient(to bottom, @bright, @dark 10%, @bright);
                    color: hsl(@hue, 100%, 10%);
                    text-shadow: 0 2px 0 #fff2;
                }
                &.general a div {
                    @hue: 240;
                    @bright: hsl(240, 100%, 73%);
                    @dark: hsl(240, 100%, 63%);
                    
                    border-color: @dark;
                    background-image: linear-gradient(to bottom, @bright, @dark 10%, @bright);
                    color: hsl(@hue, 100%, 10%);
                    text-shadow: 0 2px 0 #fff3;
                }
                &.meta a div {
                    @hue: 32;
                    @bright: hsl(32, 100%, 70%);
                    @dark: hsl(32, 100%, 50%);
                    
                    border-color: @dark;
                    background-image: linear-gradient(to bottom, @bright, @dark 10%, @bright);
                    color: hsl(@hue, 100%, 10%);
                    text-shadow: 0 2px 0 #fff4;
                }
                &.null a div {
                    @bright: hsl(0, 0%, 70%);
                    @dark: hsl(0, 0%, 60%);

                    border-color: @dark;
                    background-image: linear-gradient(to bottom, @bright, @dark 10%, @bright);
                    color: hsl(0, 0%, 10%);
                    text-shadow: 0 2px 0 #fff2;
                }
                // ]
                
                /** CLASSIC **/ // [
                /*
				a div {
					span {
						font-size: 16px;
						line-break: anywhere;
					}
                    
					width: fit-content;
					margin: 2px;
					padding: 2px 5px;
					display: inline-flex;
                    
					border-style: solid;
					border-width: 2px;
					border-radius: 4px;
                    
					cursor: pointer;
					transition: box-shadow 50ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
                    
					color: hsl(var(--hue), 100%, 95%);
					border-color: hsl(var(--hue), 100%, 80%);
					background-image:
						linear-gradient(to bottom, hsl(var(--hue), 100%, 10%), hsl(var(--hue), 100%, 15%));
					box-shadow: none;
                    
					&:hover {
						color: hsl(var(--hue), 75%, 25%);
						border-color: hsl(var(--hue), 75%, 25%);
						background-image:
							linear-gradient(to bottom, hsl(var(--hue), 100%, 85%), hsl(var(--hue), 100%, 95%));
						box-shadow: 0 0 5px 3px hsl(var(--hue), 100%, 85%, 0.2);
					}
					&:active {
						color: hsl(var(--hue), 100%, 95%);
						border-color: hsl(var(--hue), 100%, 15%);
						background-image:
							linear-gradient(to bottom, hsl(var(--hue), 100%, 10%), hsl(var(--hue), 100%, 15%));
						box-shadow: none;
					}
				}
			
                &.copyright { --hue: 300; }
                &.character { --hue: 120; }
                &.artist { --hue: 0; }
                &.general { --hue: 240; }
                &.meta { --hue: 32; }
                &.null a div {
                    color: hsl(0, 0%, 95%);
                    border-color: hsl(0, 0%, 70%);
                    background-image:
                        linear-gradient(to bottom, hsl(0, 0%, 10%), hsl(0, 0%, 15%));

                    &:hover {
                        color: hsl(0, 0%, 25%);
                        border-color: hsl(0, 0%, 25%);
                        background-image:
                            linear-gradient(to bottom, hsl(0, 0%, 85%), hsl(0, 0%, 95%));
                    }
                } /**/
                // ]a
			}
		}
	}
	> div.comments {
		grid-area: comments;
		padding: 8px;
		display: flex;
		flex-direction: column;
		gap: 8px;
        border-radius: 16px;
		div.comment {
			border-radius: 8px;
			background-image: linear-gradient(to bottom, @accent-dark-2, @accent-dark-1);
			padding: 8px 16px;
			display: flex;
			flex-direction: column;
			div.info {
				span.user {
					font-weight: bold;
					&::after {
						content: " » ";
						font-weight: normal;
						color: @accent-light-3;
					}
				}
				span.id {
					color: @accent-light-3;
					&::before {
						content: "#";
					}
				}
			}
			blockquote {
				padding: 8px 24px;
				margin: 0;
				position: relative;
				&::before {
					content: "";
					background-color: @accent-light-1;
					display: block;
					position: absolute;
					top: 8px;
					left: 8px;
					height: calc(100% - 16px);
					width: 3px;
					border-radius: 1.5px;
				}
			}
		}
	}
}
